body {
    background-color: rgb(29, 29, 29);
}

input[type="button"] {
    margin: 5px;
}

.spacer {
   height: 125px ;
}

.block {
   position: relative ;
   width:900px ;
   margin-left: auto ;
   margin-right: auto ;
   text-align: center ;
   color: #ffffff ;
}

.subscribe {
   background-color:#303030 ;
   width: 850px ;
   text-align: left ;
   margin-left: auto ;
   margin-right: auto ;
   margin-bottom: 2px ;
   padding-top: 2px ;
   padding-bottom: 2px ;
   display: block ;
   color: #ffffff ;
}

.settings {
   background-color:#32CD32 ;
   width: 850px ;
   text-align: left ;
   margin-left: auto ;
   margin-right: auto ;
   margin-bottom: 2px ;
   padding-top: 2px ;
   padding-bottom: 2px ;
   display: block ;
   color: #ffffff ;
}

p {
   margin-left: 10px ;
   margin-right: 10px ;
}
